
.site-title{
    padding: 70px 0;
    text-align: center;
    position: relative;
    font-size: 400%;
}

.title{
    color:black;
    font-family: 'Passion One', cursive;
    position: relative;
    margin:auto;
    padding-right: 10%;
}

.yes{
    text-decoration: none;
}

.center{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Menu*/

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

body,html{
    height:100%;
    margin: 0;
    color:aliceblue;
}

.bg{
    background-image: url("slideshow/slideshow2.jpg");
    filter:brightness(75%);
    left:0px;
    top:0px;
    position:absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-size: cover ;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
}

.flex {
    margin: 0;
    display: flex;
    border: none;
    margin-bottom: 0rem;
}
.flex h3 {
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: 400;
    color:black;
}
.flex p {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
    color:black;
}
.flex div:first-child {
    flex: 1;
    background-size: cover;
    background-position: center;
}
.flex div:last-child {
    margin: 2rem;
    flex: 2;
}
.flex p:last-of-type {
    margin-bottom: 0;
}
.flex:first-of-type div:first-child {
    background-image: url("https://img.freepik.com/premium-photo/astronaut-outer-open-space-planet-earth-stars-provide-background-erforming-space-planet-earth-sunrise-sunset-our-home-iss-elements-this-image-furnished-by-nasa_150455-16829.jpg?w=2000");
    top:0;
    left:0;
}
.flex:nth-child(odd) {
    flex-direction: row;
}

@media all and (max-width: 600px) {
    .flex div { flex: 1; }
}
@media all and (max-width: 400px) {
    .flex { flex-direction: column; } 
    .flex:nth-child(odd){
        flex-direction: column;
    }
    .flex div:first-child { min-height: 200px; }
}

.flex1 {
    margin: 0;
    display: flex;
    border: none;
    margin-bottom: 0rem;
}
.flex1 h3 {
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: 400;
    color:black;
}
.flex1 p {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
    color:black;
}
.flex1 div:first-child {
    flex: 1;
    background-size: cover;
    background-position: center;
}
.flex1 div:last-child {
    margin: 2rem;
    flex: 2;
}
.flex1 p:last-of-type {
    margin-bottom: 0;
}
.flex1:first-of-type div:first-child {
    background-image: url("https://www.rmg.co.uk/sites/default/files/styles/max_width_1440/public/2022-07/STScI-01G79RF5F5TPZJSDT3Y640XNQ1-southern-ring-nebula.jpg?itok=CLW7jhNZ");
    top:0;
    left:0;
}
.flex1:nth-child(odd) {
    flex-direction: row;
}

@media all and (max-width: 600px) {
    .flex1 div { flex: 1; }
}
@media all and (max-width: 400px) {
    .flex1 { flex-direction: column; } 
    .flex1:nth-child(odd){
        flex-direction: column;
    }
    .flex1 div:first-child { min-height: 200px; }
}

.flex2 {
    margin: 0;
    display: flex;
    border: none;
    margin-bottom: 0rem;
}
.flex2 h3 {
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: 400;
    color:black;
}
.flex2 p {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
    color:black;
}
.flex2 div:first-child {
    flex: 1;
    background-size: cover;
    background-position: center;
}
.flex2 div:last-child {
    margin: 2rem;
    flex: 2;
}
.flex2 p:last-of-type {
    margin-bottom: 0;
}
.flex2:first-of-type div:first-child {
    background-image: url("https://images.unsplash.com/photo-1471879832106-c7ab9e0cee23?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80");
    top:0;
    left:0;
}
.flex2:nth-child(odd) {
    flex-direction: row;
}

@media all and (max-width: 600px) {
    .flex2 div { flex: 1; }
}
@media all and (max-width: 400px) {
    .flex2 { flex-direction: column; } 
    .flex2:nth-child(odd){
        flex-direction: column;
    }
    .flex2 div:first-child { min-height: 200px; }
}

.alb1 {
    margin: 0;
    display: flex;
    padding:2%;
    margin-bottom: 2rem;
}
.alb1 h3 {
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: 400;
    color:black;
}
.alb1 p {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
    color:black;
}
.alb1 div:first-child {
    flex: 1;
    background-size: cover;
    background-position: center;
}
.alb1 div:last-child {
    margin: 0.5rem;
    flex: 2;
}
.alb1 p:last-of-type {
    margin-bottom: 0;
}
.alb1:first-of-type div:first-child {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/0/03/Birthday_%28ClariS%29_album_cover.jpg/220px-Birthday_%28ClariS%29_album_cover.jpg");
    background-repeat: no-repeat;
    background-size: 38%;
}
.alb1:nth-child(odd) {
    flex-direction: row;
}

@media all and (max-width: 600px) {
    .alb1 div { flex: 1; }
}
@media all and (max-width: 400px) {
    .alb1 { flex-direction: column; } 
    .alb1:nth-child(odd){
        flex-direction: column;
    }
    .alb1 div:first-child { min-height: 200px; }
}

.alb2 {
    margin: 0;
    display: flex;
    padding: 2%;
    margin-bottom: 0rem;
}
.alb2 h3 {
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: 400;
    color:black;
}
.alb2 p {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
    color:black;
}
.alb2 div:first-child {
    flex: 1;
    background-size: cover;
    background-position: center;
}
.alb2 div:last-child {
    margin: 0.5rem;
    flex: 2;
}
.alb2 p:last-of-type {
    margin-bottom: 0;
}
.alb2:first-of-type div:first-child {
    background-image: url("https://i.scdn.co/image/ab67616d0000b27314a122f413670e5345d65653");
    background-size: 38%;
    background-repeat: no-repeat;
}
.alb2:nth-child(odd) {
    flex-direction: row;
}

@media all and (max-width: 600px) {
    .alb2 div { flex: 1; }
}
@media all and (max-width: 400px) {
    .alb2 { flex-direction: column; } 
    .alb2:nth-child(odd){
        flex-direction: column;
    }
    .alb2 div:first-child { min-height: 200px; }
}

.alb3 {
    margin: 0;
    display: flex;
    padding: 2%;
    margin-bottom: 0rem;
}
.alb3 h3 {
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: 400;
    color:black;
}
.alb3 p {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
    color:black;
}
.alb3 div:first-child {
    flex: 1;
    background-size: cover;
    background-position: center;
}
.alb3 div:last-child {
    margin: 0.5rem;
    flex: 2;
}
.alb3 p:last-of-type {
    margin-bottom: 0;
}
.alb3:first-of-type div:first-child {
    background-image: url("https://i.scdn.co/image/ab67616d0000b273d6abe6d9735973246b27bf99");
    background-size: 35%;
    background-repeat: no-repeat;
}
.alb3:nth-child(odd) {
    flex-direction: row-reverse;
}

@media all and (max-width: 600px) {
    .alb3 div { flex: 1; }
}
@media all and (max-width: 400px) {
    .alb3 { flex-direction: column; } 
    .alb3:nth-child(odd){
        flex-direction: column;
    }
    .alb3 div:first-child { min-height: 200px; }
}

.ani1 {
    margin: 0;
    display: flex;
    padding:2%;
    margin-bottom: 2rem;
}
.ani1 h3 {
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: 400;
    color:black;
}
.ani1 p {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
    color:black;
}
.ani1 div:first-child {
    flex: 1;
    background-size: cover;
    background-position: center;
}
.ani1 div:last-child {
    margin: 0.5rem;
    flex: 2;
}
.ani1 p:last-of-type {
    margin-bottom: 0;
}
.ani1:first-of-type div:first-child {
    background-image: url("images/oreimo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.ani1:nth-child(odd) {
    flex-direction: row;
}

@media all and (max-width: 600px) {
    .ani1 div { flex: 1; }
}
@media all and (max-width: 400px) {
    .ani1 { flex-direction: column; } 
    .ani1:nth-child(odd){
        flex-direction: column;
    }
    .ani1 div:first-child { min-height: 200px; }
}

.ani2 {
    margin: 0;
    display: flex;
    padding:2%;
    margin-bottom: 2rem;
}
.ani2 h3 {
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: 400;
    color:black;
}
.ani2 p {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
    color:black;
}
.ani2 div:first-child {
    flex: 1;
    background-size: cover;
    background-position: center;
}
.ani2 div:last-child {
    margin: 0.5rem;
    flex: 2;
}
.ani2 p:last-of-type {
    margin-bottom: 0;
}
.ani2:first-of-type div:first-child {
    background-image: url("images/nisekoi.webp");
    background-repeat: no-repeat;
    background-size: 90%;
}
.ani2:nth-child(odd) {
    flex-direction: row-reverse;
}

@media all and (max-width: 600px) {
    .ani2 div { flex: 1; }
}
@media all and (max-width: 400px) {
    .ani2 { flex-direction: column; } 
    .ani2:nth-child(odd){
        flex-direction: column;
    }
    .ani2 div:first-child { min-height: 200px; }
}

.ani3 {
    margin: 0;
    display: flex;
    padding:2%;
    margin-bottom: 2rem;
}
.ani3 h3 {
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: 400;
    color:black;
}
.ani3 p {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
    color:black;
}
.ani3 div:first-child {
    flex: 1;
    background-size: cover;
    background-position: center;
}
.ani3 div:last-child {
    margin: 0.5rem;
    flex: 2;
}
.ani3 p:last-of-type {
    margin-bottom: 0;
}
.ani3:first-of-type div:first-child {
    background-image: url("images/madokamagica.webp");
    background-repeat: no-repeat;
    background-size: 100%;
}
.ani3:nth-child(odd) {
    flex-direction: row;
}

@media all and (max-width: 600px) {
    .ani3 div { flex: 1; }
}
@media all and (max-width: 400px) {
    .ani3 { flex-direction: column; } 
    .ani3:nth-child(odd){
        flex-direction: column;
    }
    .ani3 div:first-child { min-height: 200px; }
}

.ani4 {
    margin: 0;
    display: flex;
    padding:2%;
    margin-bottom: 2rem;
}
.ani4 h3 {
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: 400;
    color:black;
}
.ani4 p {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
    color:black;
}
.ani4 div:first-child {
    flex: 1;
    background-size: cover;
    background-position: center;
}
.ani4 div:last-child {
    margin: 0.5rem;
    flex: 2;
}
.ani4 p:last-of-type {
    margin-bottom: 0;
}
.ani4:first-of-type div:first-child {
    background-image: url("images/lycoreco.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.ani4:nth-child(odd) {
    flex-direction: row;
}

@media all and (max-width: 600px) {
    .ani4 div { flex: 1; }
}
@media all and (max-width: 400px) {
    .ani4 { flex-direction: column; } 
    .ani4:nth-child(odd){
        flex-direction: column;
    }
    .ani4 div:first-child { min-height: 200px; }
}

.ani5 {
    margin: 0;
    display: flex;
    padding:2%;
    margin-bottom: 2rem;
}
.ani5 h3 {
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: 400;
    color:black;
}
.ani5 p {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
    color:black;
}
.ani5 div:first-child {
    flex: 1;
    background-size: cover;
    background-position: center;
}
.ani5 div:last-child {
    margin: 0.5rem;
    flex: 2;
}
.ani5 p:last-of-type {
    margin-bottom: 0;
}
.ani5:first-of-type div:first-child {
    background-image: url("images/eromangasensei.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.ani5:nth-child(odd) {
    flex-direction: row-reverse;
}

@media all and (max-width: 600px) {
    .ani5 div { flex: 1; }
}
@media all and (max-width: 400px) {
    .ani5 { flex-direction: column; } 
    .ani5:nth-child(odd){
        flex-direction: column;
    }
    .ani5 div:first-child { min-height: 200px; }
}